/* Write your CSS here */
.registration-status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 40%;
    height: 100vh;
}
.view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.yet-to-register-image {
    width: 90%;
    max-width: 460px;
}
.register-description {
    text-align: center;
    color: #64748b;
    font-family: 'Roboto';
    font-size: 20px;
    margin: 0px;
    margin-top: 50px;
}
.register-here-button {
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 16px;
    background-color: #0967d2;
    width: 90%;
    border: none;
    border-radius: 8px;
    margin-top: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    outline: none;
    cursor: pointer;
}
.registered-img {
    width: 80%;
    max-width: 100px;
}
.registered-heading {
    text-align: center;
    color: #323f4b;
    font-size: 25px;
    font-family: 'Roboto';
    font-weight: 600;
    margin: 0px;
    margin-top: 40px;
}
.registrations-closed-image {
    width: 80%;
    max-width: 400px;
}
.registrations-closed-heading {
    text-align: center;
    color: #323f4b;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 600;
    margin: 0px;
    margin-top: 32px;
}
.registrations-closed-description {
    text-align: center;
    color: #475569;
    font-family: 'Roboto';
    font-size: 20px;
    width: 60%;
    margin: 0px;
    margin-top: 16px;
}
.no-active-event-description {
    text-align: center;
    align-self: flex-start;
    color: #64748b;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
    margin-top: 65px;
    margin-right: 15px;
    margin-left: 15px;
}