/* Write your CSS here */
.event-item {
    width: 90%;
    list-style-type: none;
    margin-right: 25px;
    margin-bottom: 32px;
}
.event-button {
    background-color: transparent;
    border: none;
    padding: 0px;
    outline: none;
    cursor: pointer;
}

.event-image {
    width: 100%;
    border: 2px solid transparent;
    border-radius: 10px;
    max-width: 460px;
}
.active {
    border: 2px solid #2dd4bf;
    border-radius: 10px;
}

.name {
    color: #f8fafc;
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 500;
    margin: 0px;
    margin-top: 12px;
}
.location {
    color: #f8fafc;
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0px;
    margin-top: 5px;
}
@media (min-width: 768px) {
    .event-item {
        width: 45%;
    }
}